body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}

.component{
    padding: 15px;
    width: 20rem;
    border-radius: 15px;
}

.card-img-top{
    border-radius: 15px;
}

.card-body{
    text-align: center;
}

.card-title{
    font-weight: bolder;
}


.footer{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}